<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>{{ title }}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="{{ static_url("js/master.js") }}"></script>
        <script src="{{ static_url("js/json2.js") }}"></script>
        <link rel="stylesheet" href="{{ static_url("css/master.css") }}" type="text/css" />

        <script>
            $(document).ready(function() {
                $("#new_board").click(function() {
                    $.ajax({
                    url: '/new_board/',
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        $("#go_board").attr("href", '/board/' + data);
                        $("#go_board").toggle()
                    }
                });
            });
        });
        </script>
    </head>
    <body>
    <div id="info">
    </div>
    <div id="">

        <div id="map_canvas" ></div>
        <div class="outer">
            <div id="onmap">
                <h2>Whitebrd.me</h2>
                <h3>share your drawings</h3>
                <a href="#" id="new_board">new board</a>
                <a href="#" id="go_board" style="display:none">new board</a>
            </div>
        </div>
    </div>
    </body>
</html>
