<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>{{ title }}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="{{ static_url("js/master.js") }}"></script>
        <script src="{{ static_url("js/json2.js") }}"></script>
        <link rel="stylesheet" href="{{ static_url("css/master.css") }}" type="text/css" />

        <script>
        $(document).ready(function() {
            $.ajax({
                url: '/new_board/',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                
                }
            });
            
        });
        </script>
    </head>
    <body>
    <div id="info">
    </div>
    <div id="">
        Indice
        
    </div>

        
    </body>
</html>
