<!doctype html>
<html>
    <head>
<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
<meta name="viewport" content="width=device-width" />
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>{{ title }}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="{{ static_url("js/master.js") }}"></script>
        <script src="{{ static_url("js/json2.js") }}"></script>
        <script src="{{ static_url("js/jquery.ui.touch.js") }}"></script>
        <link rel="stylesheet" href="{{ static_url("css/master.css") }}" type="text/css" />

        <script>
        $(document).ready(function() {
            wb = whiteboard();
            wb.init('{{channel}}');
            c = wbcanvas('whiteboard', wb);
            tool = toolbar('toolbar', c);
        });
        </script>
    </head>
    <body>
    
    <div id="wrapper">
        <div id="hack">
            <div id="toolbar">
                <ul id="tools">
                    <li id="" class="tool ">
                         <select id="line_size">
                            <option value="2">1</option>
                            <option value="4">2</option>
                            <option value="8">3</option>
                            <option value="16">4</option>
                        </select>
                    </li>
                    <li id="red" class="tool color red">&nbsp;</li>
                    <li id="black" class="tool color black">&nbsp;</li>
                </ul> <!-- tools -->
            </div> <!-- toolbar -->
        </div>

        <canvas id="whiteboard" style="margin:0; padding: 0;"></canvas>
    </div>

        
    </body>
</html>
